body {
    margin: 20px;
    /*
    Challenge:
    Find a web safe font you like, and add it 
    to your card.
    */
    font-family: 'Courier New', Courier, monospace
}

.avatar {
    width: 150px;
    border-radius: 5px;
}

.card {
    width: 400px;
    margin: 0 auto;
    padding: 20px;
    display: flex;
    justify-content: space-around;
    text-align: center;
    background: #344E41;
    color: #DAD7CD;
    border-bottom: 10px solid #588157;
    border-radius: 5px;
    
        
    /*
    Challenge:
    Find a color palette you like on Coolors.co
    and use it in your business card.
     */
}

.card:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    animation-name: example;
    animation-duration: 4s;
    animation-iteration-count: infinite;
}

.border-blue {
    border: 1px dotted blue;
}

/*
Stretch goals:
Find other ways you can personalize 
the design of your business card, e.g.:
- change the border(s)
- add border radius
- shuffle the layout
- shadows        🤯
- hover effects  🤯🤯
- animations     🤯🤯🤯
*/

@keyframes example {
  0%   {border-bottom: 10px solid #A3B18A;}
  25%  {border-bottom: 10px solid #588157;}
  50%  {border-bottom: 10px solid #3A5A40;}
  75%  {border-bottom: 10px solid #588157;}
  100% {border-bottom: 10px solid #A3B18A;}
}

